<div class="w-100 bg-secondary rounded p-3 mb-3 mt-3">
  <div class="mb-3">
    <h3 class="text-light">Score</h3>
    <div class="row">
      <div class="col-6 text-light">
        <span>Shots</span>
      </div>
      <div class="col-6 text-light">
        <span>{{ score.shotsFired }}</span>
      </div>
      <div class="col-6 text-light">
        <span>Hits</span>
      </div>
      <div class="col-6 text-light">
        <span>{{ score.hits }}</span>
      </div>
      <div class="col-6 text-light">
        <span>Accuracy</span>
      </div>
      <div class="col-6 text-light">
        <span>{{ score.accuracy() | percent }}</span>
      </div>
    </div>
  </div>
  <hr class="text-light" style="margin-left: -16px; margin-right: -16px" />
  <div class="mb-3">
    <h3 class="text-light">High Scores</h3>
    <div *ngFor="let score of top10()">
      <div class="row">
        <div class="col-6 text-light">
          <span>{{ score.name }}</span>
        </div>
        <div class="col-6 text-light">
          <span>{{ score.accuracy() | percent }}</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="text-light" style="margin-left: -16px; margin-right: -16px" />
  <!-- <hr class="mx-n3"/> -->
  <div>
    <div class="mb-3">
      <input
        type="text"
        placeholder="Enter your name"
        class="form-control"
        [(ngModel)]="score.name"
      />
    </div>
    <button class="btn btn-primary">Submit Score</button>
  </div>
</div>
<!-- <button routerLink="/" routerLinkActive="active" class="btn btn-primary" style="width: 300px">Menu</button> -->
